<?xml version="1.0" encoding="utf-8"?>
<!--
Local IIS Publishing Profile for development and testing
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>IISExpress</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/WanderlustApi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>$(ProjectGuid)</ProjectGuid>
    <PublishUrl>C:\inetpub\wwwroot\WanderlustApi</PublishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <EnvironmentName>Development</EnvironmentName>
  </PropertyGroup>
  
  <!-- Create web.config for IIS -->
  <PropertyGroup>
    <PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>
  </PropertyGroup>
  
  <!-- Post-publish tasks -->
  <Target Name="CustomPostPublishActions" AfterTargets="PublishFiles">
    <Message Text="Setting up IIS application..." Importance="high" />
  </Target>
</Project>
